@import 'setup';

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.welcomeSite {
    height: 100vh;
    background-color: black;
    border: 5px solid red;
}

h1,h2 {
    font-size: 40px;
    color: white;
}
@import 'blackjack';

