@import 'setup';
@import 'blackjack';

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.dealerHand, .playerHand {
    display: flex;
}

